<div class="container">
    <form #form="ngForm" action="#" id="getLevel" (ngSubmit)="getLevel(form)">
        <fieldset>
          <legend>Search Level</legend>
         
            <div class="form-group">   
              <div class="row">

                <div class="col-lg-8">
                    <input type="text" name="id" ngModel class="form-control" id="id" aria-describedby="emailHelp" placeholder="Level Id">
        
                </div>
                <div class="col-lg-4">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>

              </div> 
            </div> 
        </fieldset>
        <div class="alert alert-dismissible alert-warning alertBox" *ngIf='errorStatus' style="width: 75%">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Invalid Level Id</strong>
          </div>
      </form>
    </div>

    <div class="container mt-3 mb-4" *ngIf="level">
        
        <div class="">
            <img src="../../../assets/img/blog-details/1.jpg" width="100%" height="10%">
            <div class="row mt-2 ml-4">
                <div class="col-lg-6">
                    <p style="color: #999"><i class="fas fa-level-up-alt"></i> Level Name:- {{level.name}}</p>
                </div>
                <div class="col-lg-6">
                    <p style="color: #999">Points to Qualify the level:- {{level.qualificationPoint}}</p>
                </div>
            </div>
            <hr class="my-4">
            <h6><i class="fab fa-gratipay"></i> Description</h6>
            <p class="lead">{{level.description}}</p>
          </div>
        </div>
  
  
  
