.courses-inner{
	padding:20px;
	background:#fff;
}
.courses-title h2{
	font-size:18px;
	color:#303030;
	margin-top: 10px;
}
.courses-alaltic .cr-ic-r, .single-item-comment-view .cr-ic-r {
	margin-right:10px;
}
.course-des p{
	margin:2px 0px;
	font-size:14px;
	color:#303030;
}
.course-des{
	margin:10px 0px;
}
img {max-width:100%;height:auto}