body{
    background: #8d9498;
}
.loginForm{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%; 
}

.form{

    padding:10%;
    background-color: #e7e9ee;
}
.alertBox{
    margin-top: 5%;
}