.profile-info-inner,.product-payment-inner-st, .tab-content-details{
	padding:20px;
background:#fff;
}
.profile-img img{
	width:100%;
}
.profile-details-hr {
    margin-top: 20px;
}
.address-hr p{
	font-size:15px;
	line-height:24px;
	color:#303030;
}
.address-hr{
	text-align:center;
	margin:5px 0px;
}
.address-hr.biography{
	text-align:left;
}
.address-hr a{
	font-size:20px;
	color:#444;
}
.address-hr h3{
	font-size:20px;
	color:#303030;
	font-weight:400;
	margin:0px;
}
.detailsForm{
	padding-left: 16px;
	padding-right: 20px;
	padding-bottom: 10px;
}
.analysis-progrebar-ctn .progress {
    height: 5px;
    margin-bottom: 10px;
}
.analysis-progrebar-ctn{
	padding:20px;
	background:#fff;
}
#myTab3.tab-review-design, #myTabedu1.tab-review-design{
	padding: 0px 0px 20px 0px;
	background:#fff;
}
#myTab3.tab-review-design li a, #myTabedu1.tab-review-design li a{
	padding-right: 40px;
	text-transform:capitalize;
}
#myTab3.tab-review-design li i, #myTabedu1.tab-review-design li i{
	margin-right:5px;
}
ul.tab-custon-design li, ul.tab-review-design li {
    display: inline-block;
}
#myTab3.tab-review-design li a, #myTabedu1.tab-review-design li a {
    padding-right: 40px;
    text-transform: capitalize;
	position:relative;
	transition:all .4s ease 0s;
}
#myTab3.tab-review-design li a:before, #myTab4.tab-review-design li a:before, #myTabedu1.tab-review-design li a:before {
    position: absolute;
    bottom: -15px;
    left: 0px;
    width: 0%;
    height: 2px;
    background: #006DF0;
    content: "";
	transition:all .4s ease 0s;
}
#myTab3.tab-review-design li.active a:before, #myTab4.tab-review-design li.active a:before, #myTabedu1.tab-review-design li.active a:before {
    position: absolute;
    bottom: -15px;
    left: 0px;
    width: 80%;
    height: 2px;
    background: #006DF0;
    content: "";
	transition:all .4s ease 0s;
}
ul.tab-custon-design li.active a, ul.tab-review-design li.active a {
    color: #006DF0 !important;
}
ul.tab-custon-design li a, ul.tab-custon-design li a:hover, ul.tab-custon-design li a:focus, ul.tab-review-design li a, ul.tab-review-design li a:hover, ul.tab-review-design li a:focus {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #909090;
}
ul.tab-custon-design, ul.tab-review-design {
   padding-bottom: 20px;
    width: 100%;
    background: #fff;
}
ul.tab-custon-design{
	margin: 0 auto;
}
ul.tab-custon-design, ul.tab-review-design{
  padding: 15px 35px;
  width: 100%;
  background:#fff;
}
ul.tab-custon-design li, ul.tab-review-design li{
	display:inline-block;
}
ul.tab-custon-design li span, ul.tab-review-design li span{
	margin:0px 20px;
	color:#e12503;
	font-size:14px;
}
ul.tab-custon-design li a, ul.tab-custon-design li a:hover, ul.tab-custon-design li a:focus, ul.tab-review-design li a, ul.tab-review-design li a:hover, ul.tab-review-design li a:focus{
	font-size:18px;
	font-weight:700;
	text-transform:uppercase;
	text-decoration:none;
	color:#909090;
}
.tab-content-details h2 {
    font-size: 20px;
    color: #303030;
}
.tab-content-details {
    text-align: center;
    background: #fff;
    padding: 20px 100px;
}
.tab-content-details p {
    font-size: 14px;
    color: #303030;
    line-height: 24px;
	margin-bottom:0px;
}

.review-content-section{
	margin-top: 15px;
    margin-left: 0px;
    margin-right: 0px;
}
.review-content-section p{
	color:#303030;
	font-weight:400;
	font-size:14px;
	line-height:24px;
}
