.student-dtl h2{
	font-size:18px;
	color:#303030;
}
.student-dtl p.dp, .student-dtl p.dp-ag{
	font-size:14px;
	color:#303030;
	margin:0;
}
.student-inner-std{
	text-align:center;
	background:#fff;
}
.student-dtl{
	padding:20px;
}
.student-img img{
	width:100%;
}

.pagination-next{
	width: 2000px;
}